# Introduction

In [250]:
import pandas as pd
pd.options.mode.chained_assignment = None

data = pd.read_csv('AmesHousing.txt', delimiter="\t")
train = data[0:1460]
test = data[1460:]
df_no_mv = train[train.isnull().sum()[train.isnull().sum() == 0].index]

In [251]:
print(train.isnull().sum()[train.isnull().sum() == 0].index)

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Area', 'Street',
       'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 'Land Slope',
       'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',
       'House Style', 'Overall Qual', 'Overall Cond', 'Year Built',
       'Year Remod/Add', 'Roof Style', 'Roof Matl', 'Exterior 1st',
       'Exterior 2nd', 'Exter Qual', 'Exter Cond', 'Foundation', 'Heating',
       'Heating QC', 'Central Air', 'Electrical', '1st Flr SF', '2nd Flr SF',
       'Low Qual Fin SF', 'Gr Liv Area', 'Full Bath', 'Half Bath',
       'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd',
       'Functional', 'Fireplaces', 'Garage Cars', 'Garage Area', 'Paved Drive',
       'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
       'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold',
       'Sale Type', 'Sale Condition', 'SalePrice'],
      dtype='object')

# Caractéristiques de catégorie

In [252]:
temp = df_no_mv.select_dtypes(include=[object]).columns

In [253]:
print(temp)

Index(['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Exter Qual', 'Exter Cond',
       'Foundation', 'Heating', 'Heating QC', 'Central Air', 'Electrical',
       'Kitchen Qual', 'Functional', 'Paved Drive', 'Sale Type',
       'Sale Condition'],
      dtype='object')

In [254]:
train[temp] = train[temp].astype('category')

In [255]:
for col in temp:
    print(col,len(train[col].unique()))

MS Zoning 6
Street 2
Lot Shape 4
Land Contour 4
Utilities 3
Lot Config 5
Land Slope 3
Neighborhood 26
Condition 1 9
Condition 2 6
Bldg Type 5
House Style 8
Roof Style 6
Roof Matl 5
Exterior 1st 14
Exterior 2nd 16
Exter Qual 4
Exter Cond 5
Foundation 6
Heating 6
Heating QC 4
Central Air 2
Electrical 4
Kitchen Qual 5
Functional 7
Paved Drive 3
Sale Type 9
Sale Condition 5

In [256]:
train['Sale Condition'].value_counts()

Normal     1267
Abnorml      98
Partial      63
Family       18
Alloca       14
Name: Sale Condition, dtype: int64

In [257]:
train['Utilities'].cat.codes.value_counts()

0    1457
2       2
1       1
dtype: int64

In [258]:
train['Utilities'].unique()

[AllPub, NoSewr, NoSeWa]
Categories (3, object): [AllPub, NoSewr, NoSeWa]

# Technique pour gérer les caractéristiques de catégorie: colonnes factices

In [259]:
for col in temp:
    col_dummies=pd.get_dummies(train[col])
    train = pd.concat([train, col_dummies], axis=1)
    train.drop(col, axis=1, inplace = True)
    print(col, " supprimé")
    
train.iloc[0:5]

MS Zoning  supprimé
Street  supprimé
Lot Shape  supprimé
Land Contour  supprimé
Utilities  supprimé
Lot Config  supprimé
Land Slope  supprimé
Neighborhood  supprimé
Condition 1  supprimé
Condition 2  supprimé
Bldg Type  supprimé
House Style  supprimé
Roof Style  supprimé
Roof Matl  supprimé
Exterior 1st  supprimé
Exterior 2nd  supprimé
Exter Qual  supprimé
Exter Cond  supprimé
Foundation  supprimé
Heating  supprimé
Heating QC  supprimé
Central Air  supprimé
Electrical  supprimé
Kitchen Qual  supprimé
Functional  supprimé
Paved Drive  supprimé
Sale Type  supprimé
Sale Condition  supprimé

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Alley,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,ConLI,ConLw,New,Oth,WD,Abnorml,Alloca,Family,Normal,Partial
0,1,526301100,20,141.0,31770,NaN,6,5,1960,1960,...,0,0,0,0,1,0,0,0,1,0
1,2,526350040,20,80.0,11622,NaN,5,6,1961,1961,...,0,0,0,0,1,0,0,0,1,0
2,3,526351010,20,81.0,14267,NaN,6,6,1958,1958,...,0,0,0,0,1,0,0,0,1,0
3,4,526353030,20,93.0,11160,NaN,7,5,1968,1968,...,0,0,0,0,1,0,0,0,1,0
4,5,527105010,60,74.0,13830,NaN,5,5,1997,1998,...,0,0,0,0,1,0,0,0,1,0

In [260]:
train.iloc[0:5]

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Alley,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,ConLI,ConLw,New,Oth,WD,Abnorml,Alloca,Family,Normal,Partial
0,1,526301100,20,141.0,31770,NaN,6,5,1960,1960,...,0,0,0,0,1,0,0,0,1,0
1,2,526350040,20,80.0,11622,NaN,5,6,1961,1961,...,0,0,0,0,1,0,0,0,1,0
2,3,526351010,20,81.0,14267,NaN,6,6,1958,1958,...,0,0,0,0,1,0,0,0,1,0
3,4,526353030,20,93.0,11160,NaN,7,5,1968,1968,...,0,0,0,0,1,0,0,0,1,0
4,5,527105010,60,74.0,13830,NaN,5,5,1997,1998,...,0,0,0,0,1,0,0,0,1,0

In [261]:
train['years_until_remod']=train['Year Remod/Add'] - train['Year Built']

In [262]:
train

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Alley,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,ConLw,New,Oth,WD,Abnorml,Alloca,Family,Normal,Partial,years_until_remod
0,1,526301100,20,141.0,31770,NaN,6,5,1960,1960,...,0,0,0,1,0,0,0,1,0,0
1,2,526350040,20,80.0,11622,NaN,5,6,1961,1961,...,0,0,0,1,0,0,0,1,0,0
2,3,526351010,20,81.0,14267,NaN,6,6,1958,1958,...,0,0,0,1,0,0,0,1,0,0
3,4,526353030,20,93.0,11160,NaN,7,5,1968,1968,...,0,0,0,1,0,0,0,1,0,0
4,5,527105010,60,74.0,13830,NaN,5,5,1997,1998,...,0,0,0,1,0,0,0,1,0,1
5,6,527105030,60,78.0,9978,NaN,6,6,1998,1998,...,0,0,0,1,0,0,0,1,0,0
6,7,527127150,120,41.0,4920,NaN,8,5,2001,2001,...,0,0,0,1,0,0,0,1,0,0
7,8,527145080,120,43.0,5005,NaN,8,5,1992,1992,...,0,0,0,1,0,0,0,1,0,0
8,9,527146030,120,39.0,5389,NaN,8,5,1995,1996,...,0,0,0,1,0,0,0,1,0,1
9,10,527162130,60,60.0,7500,NaN,7,5,1999,1999,...,0,0,0,1,0,0,0,1,0,0
10,11,527163010,60,75.0,10000,NaN,6,5,1993,1994,...,0,0,0,1,0,0,0,1,0,1
11,12,527165230,20,NaN,7980,NaN,6,7,1992,2007,...,0,0,0,1,0,0,0,1,0,15
12,13,527166040,60,63.0,8402,NaN,6,5,1998,1998,...,0,0,0,1,0,0,0,1,0,0
13,14,527180040,20,85.0,10176,NaN,7,5,1990,1990,...,0,0,0,1,0,0,0,1,0,0
14,15,527182190,120,NaN,6820,NaN,8,5,1985,1985,...,0,0,0,1,0,0,0,1,0,0
15,16,527216070,60,47.0,53504,NaN,8,5,2003,2003,...,0,0,0,1,0,0,0,1,0,0
16,17,527225035,50,152.0,12134,NaN,8,7,1988,2005,...,0,0,0,1,0,0,0,1,0,17
17,18,527258010,20,88.0,11394,NaN,9,2,2010,2010,...,0,1,0,0,0,0,0,0,1,0
18,19,527276150,20,140.0,19138,NaN,4,5,1951,1951,...,0,0,0,1,0,0,0,1,0,0
19,20,527302110,20,85.0,13175,NaN,6,6,1978,1988,...,0,0,0,1,0,0,0,1,0,10
20,21,527358140,20,105.0,11751,NaN,6,6,1977,1977,...,0,0,0,0,0,0,0,1,0,0
21,22,527358200,85,85.0,10625,NaN,7,6,1974,1974,...,0,0,0,1,0,0,1,0,0,0
22,23,527368020,60,NaN,7500,NaN,7,5,2000,2000,...,0,0,0,1,0,0,0,1,0,0
23,24,527402200,20,NaN,11241,NaN,6,7,1970,1970,...,0,0,0,1,0,0,0,1,0,0
24,25,527402250,20,NaN,12537,NaN,5,6,1971,2008,...,0,0,0,1,0,0,0,1,0,37
25,26,527403020,20,65.0,8450,NaN,5,6,1968,1968,...,0,0,0,1,0,0,0,1,0,0
26,27,527404120,20,70.0,8400,NaN,4,5,1970,1970,...,0,0,0,1,0,0,0,1,0,0
27,28,527425090,20,70.0,10500,NaN,4,5,1971,1971,...,0,0,0,0,0,0,0,1,0,0
28,29,527427230,120,26.0,5858,NaN,7,5,1999,1999,...,0,0,0,1,0,0,0,1,0,0
29,30,527451180,160,21.0,1680,NaN,6,5,1971,1971,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,1431,906476030,60,79.0,12798,NaN,6,5,1997,1997,...,0,0,0,1,0,0,0,1,0,0
1431,1432,907126030,20,65.0,9750,NaN,5,7,1994,1994,...,0,0,0,1,0,0,0,1,0,0
1432,1433,907135020,20,75.0,9525,NaN,5,6,1995,2006,...,0,0,0,1,0,0,0,1,0,11
1433,1434,907135260,20,57.0,9245,NaN,5,5,1994,1995,...,0,0,0,1,0,0,0,1,0,1
1434,1435,907175080,20,NaN,8696,NaN,7,5,1997,1998,...,0,0,0,1,0,0,0,1,0,1
1435,1436,907176010,60,NaN,13142,NaN,6,5,1997,1997,...,0,0,0,1,0,0,0,1,0,0
1436,1437,907181120,60,68.0,8998,NaN,7,5,2000,2000,...,0,0,0,1,0,0,0,1,0,0
1437,1438,907181140,60,68.0,9179,NaN,7,5,1999,1999,...,0,0,0,1,1,0,0,0,0,0
1438,1439,907187030,60,57.0,8924,NaN,7,5,1998,1999,...,0,0,0,1,0,0,0,1,0,1
1439,1440,907187080,20,93.0,9382,NaN,7,5,1999,2000,...,0,0,0,1,0,0,0,1,0,1
1440,1441,907192130,20,88.0,12803,NaN,7,5,2002,2002,...,0,0,0,1,0,0,0,1,0,0
1441,1442,907194020,60,80.0,12435,NaN,7,5,2001,2001,...,0,0,0,1,0,0,0,1,0,0
1442,1443,907196040,60,75.0,12192,NaN,7,5,2000,2001,...,0,0,0,1,0,0,0,1,0,1
1443,1444,907196050,60,68.0,11250,NaN,7,5,2001,2002,...,0,0,0,1,0,0,0,1,0,1
1444,1445,907200110,20,NaN,9200,NaN,5,6,1975,1980,...,0,0,0,1,0,0,0,1,0,5
1445,1446,907201060,80,65.0,8385,NaN,5,8,1977,1977,...,0,0,0,1,0,0,0,1,0,0
1446,1447,907202010,20,NaN,12250,NaN,5,6,1978,1978,...,0,0,0,1,0,0,0,1,0,0
1447,1448,907202160,80,NaN,10970,NaN,6,6,1978,1978,...,0,0,0,1,0,0,0,1,0,0
1448,1449,907202190,20,NaN,9216,NaN,5,6,1975,1975,...,0,0,0,1,1,0,0,0,0,0
1449,1450,907202240,20,40.0,14330,NaN,5,6,1975,2001,...,0,0,0,1,0,0,0,1,0,26
1450,1451,907203090,20,88.0,7990,NaN,5,6,1975,1975,...,0,0,0,1,0,0,0,1,0,0
1451,1452,907227050,20,60.0,7180,NaN,5,7,1972,1972,...,0,0,0,1,0,0,0,1,0,0
1452,1453,907227300,20,60.0,7200,NaN,5,7,1972,1972,...,0,0,0,1,0,0,0,1,0,0
1453,1454,907250020,20,75.0,9742,NaN,8,5,2002,2002,...,0,0,0,1,0,0,0,1,0,0
1454,1455,907251090,60,75.0,9473,NaN,8,5,2002,2002,...,0,0,0,1,0,0,0,1,0,0
1455,1456,907253060,60,NaN,10316,NaN,7,5,2000,2000,...,0,0,0,1,0,0,0,1,0,0
1456,1457,907253110,60,NaN,10400,NaN,7,5,2001,2001,...,0,0,0,1,0,0,0,1,0,0
1457,1458,907254020,60,73.0,9066,NaN,8,5,1999,2000,...,0,0,0,1,0,0,0,1,0,1
1458,1459,907254090,60,75.0,11404,NaN,7,5,1998,1999,...,0,0,0,1,0,0,0,1,0,1
1459,1460,907255020,60,NaN,9240,NaN,8,5,2001,2002,...,0,0,0,1,0,0,0,1,0,1

# Valeurs manquantes

In [268]:
import pandas as pd

data = pd.read_csv('AmesHousing.txt', delimiter="\t")
train=data[0:1460]
test=data[1460:]

In [270]:
df_missing_values = train[train.isnull().sum()[(train.isnull().sum() < 584) & (train.isnull().sum() > 0)].index]

In [276]:
df_missing_values.dtypes

Lot Frontage      float64
Mas Vnr Type       object
Mas Vnr Area      float64
Bsmt Qual          object
Bsmt Cond          object
Bsmt Exposure      object
BsmtFin Type 1     object
BsmtFin SF 1      float64
BsmtFin Type 2     object
BsmtFin SF 2      float64
Bsmt Unf SF       float64
Total Bsmt SF     float64
Bsmt Full Bath    float64
Bsmt Half Bath    float64
Garage Type        object
Garage Yr Blt     float64
Garage Finish      object
Garage Qual        object
Garage Cond        object
dtype: object

In [275]:
print(df_missing_values.isnull().sum())

Lot Frontage      249
Mas Vnr Type       11
Mas Vnr Area       11
Bsmt Qual          40
Bsmt Cond          40
Bsmt Exposure      41
BsmtFin Type 1     40
BsmtFin SF 1        1
BsmtFin Type 2     41
BsmtFin SF 2        1
Bsmt Unf SF         1
Total Bsmt SF       1
Bsmt Full Bath      1
Bsmt Half Bath      1
Garage Type        74
Garage Yr Blt      75
Garage Finish      75
Garage Qual        75
Garage Cond        75
dtype: int64

# Imputer des valeurs manquantes

In [279]:
#pandas.DataFrame.fillna()

missing_floats = df_missing_values.select_dtypes(include="float")
fill_with_mean = missing_floats.fillna(missing_floats.mean())

In [281]:
float_cols = missing_floats.fillna(missing_floats.mean())

In [283]:
float_cols.isnull().sum()

Lot Frontage      0
Mas Vnr Area      0
BsmtFin SF 1      0
BsmtFin SF 2      0
Bsmt Unf SF       0
Total Bsmt SF     0
Bsmt Full Bath    0
Bsmt Half Bath    0
Garage Yr Blt     0
dtype: int64